* {
    padding: 0;
    margin: 0;
}

:root {
    --primary: #c53a3a;
    --background: #f9f9f9;
}

body {
    background: var(--background);
}

.container {
    max-width: 70ch;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-size: 4rem;
    margin-top: 5rem;
    color: var(--primary);
}

h2 {
    font-size: 2.5rem;
    margin-top: 4rem;
    color: var(--primary);
}

h3 {
    margin-top: 2rem;
}

h4 {
    font-size: 1.1rem;
    margin-top: 1rem;
}

p, img, ul, ol {
    font-size: 1.1rem;
    margin-top: 1rem;
}

ul, ol {
    margin-left: 1.1rem;
}

a {
    font-weight: bold;
    color: var(--primary);
}


img {
    width: 100%;
}

footer {
    margin-top: 6rem;
    padding: 2rem 0 3rem 0;
    background: var(--primary);
    color: var(--background);
}